################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds
/.vs
/Intumi/.venv
/Intumi/build
/Intumi/dist
/Intumi/intumi.spec