################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Builds
/.vs
/AIMicro/.venv
/AIMicro/build
/AIMicro/dist
/AIMicro/ai_micro.spec